# Virtual environment
.env
.venv

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs & database
logs/
*.log
*.sqlite3


# Docker
docker-compose.override.yml
.dockerignore
*.pid

# Jupyter Notebook
.ipynb_checkpoints/

# MyPy cache
.mypy_cache/

# IDE settings
.vscode/
.idea/

# Sphinx documentation
docs/_build/
